.container{
    box-shadow: 1px 2px 4px #eee, -1px -2px 4px #eee;
    padding: 15px 10px 15px 20px ;
    /* background: #f5939d; */
}

.multiSelction{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0px;
}
.title{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.selctbox{
    display: flex;
    align-items: center;
    min-height: 30px;
    gap: 10px;
    margin-left: 15px;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width:767px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content:flex-start;
        flex-wrap: wrap;
    }
    .multiSelction{
        padding: 5px;
    }
    .selctbox{
        margin-left: 0px;
    }
    .title{
        display: none;
    }
   
}