.footer{
    text-align: center;
    /* background: #E7717D; */
    background: teal;
    color: #fff;
    padding: 15px 0px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

