/* default styles for all  the components */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* custom scroll bar style start */

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(128, 242, 242, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: teal;;
    outline: 1px solid rgb(128, 242, 242);
    border-radius: 50px;
}

/* custom scroll bar style end */