.loader{
    position: fixed;
    top: 48%;
    left: 48%;
    width: 50px;
}
.circlemotion{
    font-size: 32px;
}

.circle{
    animation: rotate-animation .5s infinite ease-in;
}

  
@keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }