.container{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    background: #E7717D;
    position: sticky;
    top: 0px;
    z-index: 15;
}

.rightpart{
    display: flex;
    gap: 20px;
    align-items: center;
}

.linktext{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}