.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
}

.priceInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}